body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
  body{
  margin: 0;
  }

.banner {
 		width:500px; margin:0 auto;
   		text-align:center;
   	 	padding:0;
		font-weight:normal;
		font-size:400%;
		background:  #2EB9D5;
		text-shadow: 0 1px 0 #fff;
		padding: .5em 0 ;
}
.banner__content {
    padding: 16px;
    max-width:500px;
     margin: 0 auto;
  }


  .Motto {
    padding: 40px;
    max-width:500px;
     margin: 0 auto;


  }



.Team {
    padding: 40px;
    max-width:500px;
     margin: 0 auto;

  }




.Finish {
    padding: 40px;
    max-width:500px;
     margin: 0 auto;
  }




  </style>

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
